@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
* {margin:0;padding:0;box-sizing:border-box;}
body {
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
section {
	padding:4em 0;
}
h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: .5em;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #f27a04;
}

a:hover {
	color: rgba(186, 21, 0, 1);
}
a:visited {
	color: rgba(186, 21, 0, 0.76);
}
footer {
    text-align: center;
    background: #bffcdf;
}
footer ul {
	display: inline-block;
}

footer li {
	display: inline-block;
	padding: 1em;
}

img {
	width: 30em;
}

#personal-portrait {
	width: 300px;
}

#contact-form * {
	display: block;
}
